.Form-login {
  width: 50rem;
  padding: 1rem;
  input {
    margin-bottom: 2rem;
  }
}
.Home-newsletter{
  background-image: url("../imgs/newsletter.png");
  background-size: cover;
  padding: 1rem;
  margin-bottom: 5rem;
}

.Home-newsletterContend{
  border: .2rem solid  #eb6045;
  form{
    position: relative;
    text-align: center;
  }
  p{
    font-family: 'Boogaloo', cursive;
    font-size: 2rem;
    font-weight: 100;
  }
  figure{
    padding: 0 3rem 0 2rem;
  }
  h4{
    font-family: 'Boogaloo', cursive;
    font-size: 7rem;
    text-align: center;
    color: #0c383b;
    text-shadow: 2px 2px #eb6045;
  }
  input{
    border-radius: 34px !important;
    padding: 2px 17px !important;
    font-size: 14px !important;
    font-weight: 100 !important;
    border-color: #0c383b;
    color: #0c383b;
  }
  button{
    position: absolute;
    right: 0;
    min-height: 2.3rem;
    border-radius: 2.4rem 3.4rem 3.4rem 2.4rem !important;
    padding: .2rem 5.4rem !important;
    background: #0c383b;
    color: white;
  }
}