@font-face {
  font-family: 'font/OAF 300';
  src: url('font/OAF-300.eot');
  src: url('font/OAF-300.eot?#iefix') format('embedded-opentype'),
  url('font/OAF-300.woff2') format('woff2'),
  url('font/OAF-300.woff') format('woff'),
  url('font/OAF-300.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

.search {
  position: relative;
  input {
    max-width: 25rem;
    height: 2.6rem;
    font-size: 1.2rem !important;
    padding: 0 1rem !important;
    @include respond-to(medium){
      max-width: 100%;
      width: 25rem;
    }
    @include respond-to(large){
      max-width: 25rem;
    }
  }
  button {
    border-radius: 0 .3rem .3rem 0;
    min-height: 2rem;
    min-width: 3.6rem;
    padding: .3rem 0 0 0;
    transform: translateX(-35px);
    background: #d6cc97;
    @include respond-to(medium){
      position: absolute;
      left: 100%;
      padding: .6rem 0 0 0;
    }
    @include respond-to(large){
      position: static;
      padding: .3rem 0 0 0;
    }
  }
}

.social-nav {
  list-style: none;
  li {
    padding: 1rem;
    font-size: 2rem;
  }

  i {
    color: white;
  }
}

.nav {
  background: #eb6045;
  padding: 0;
  min-height: auto;

  a {
    color: #0c383b !important;
    display: block;
    padding: .6rem .2rem;
    font-family: 'Boogaloo', cursive;
    font-size: 2rem;
    @include respond-to(medium){
      padding: .6rem 2rem;
    }
    &:hover, &.selected {
      background: #518b8d;
      opacity: 1;
      color: white !important;
      path {
        fill: white;
      }
    }
  }
}

.nav-liContainer {
  display: flex;
  align-items: center;
  span {
    margin-left: .8rem;
  }
}

.cart {
  span {
    color: orangered;
    font-size: 2rem;
  }
  * {
    margin: 0 .4rem;
  }
}

.Header-front {
  background: url("../imgs/circulos-izq-compressor.png") no-repeat calc(-50px) 0,
  url("../imgs/circulos-der-compressor.png") no-repeat calc(100% + 80px) 0,
  url("../imgs/trama-back.png");

  a {
    color: white;
  }
  .container {
    max-width: 97rem;
  }

}

.copy-cc {
  background: #eeda61;
  padding: .8rem 0 .7rem;
  p {
    font-size: 1rem;
  }
}

.Footer-nav {
  background: #518b8d;
  padding: 0;
  min-height: auto;
  g, path {
    fill: white !important;
  }
  a {
    color: white !important;
    display: block;
    padding: .6rem 2rem;
    font-family: 'Boogaloo', cursive;
    font-size: 2rem;
  }
}

.Footer-content {
  background: #0C383B;
  padding: 2rem 0 4rem;
  color: white;
  font-weight: 100;
  font-size: 1.4rem;
  form {
    position: relative;
    margin-bottom: 2rem;
  }
  a {
    color: white;
  }
  h3 {
    color: #d5ab53;
    font-family: 'Boogaloo', cursive;
  }
  input, button {
    border-radius: 34px !important;
    padding: 2px 17px !important;
    font-size: 14px !important;
    font-weight: 100 !important;
    background: #D6CC97;
  }
  button {
    position: absolute;
    right: 0;
    min-height: 2.3rem;
    border-radius: 2.4rem 3.4rem 3.4rem 2.4rem !important;
    padding: .2rem 5.4rem !important;
    background: #D5AB53;
    color: white;
  }
}

.Footer-copy {
  background: #eeda61;
  font-size: 1.2rem;
  padding: .8rem 0 .7rem;

}