.slide{
  background-image: url("../imgs/back-slide-compressor.png");
  background-size: cover;
  background-position: center;
  height: 45rem;
}
.category-product{
  padding: 0;
  margin: 4rem auto;
}
.products{
  max-width: 93rem;

  h2{
    background: #518b8d;
    max-width: 90.8rem;
    margin: 0 auto 9px;
    color: white;
    text-align: center;
  }
}
.product{
  max-width: 30rem;
  margin: .2rem;
}
.special {
  max-width: 27rem;
  img {
    max-width: 27rem;
    margin: auto;
    display: block;
  }
  h2{
    background: #eb6045;
    max-width: 27rem;
    margin: auto;
    color: white;
  }
}